.sidebar {
	background-color: transparent;
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 0;
	right: 0;
	width: 300px;
	height: 100vh;
}
.sidebarimg {
	position: absolute;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	width: 100%;
	top: 0;
	right: 0;
	height: 100%;
	overflow: hidden;
}
.sidebarheader {
	display: flex;
	padding-top: 20px;
	flex-direction: column;
	height: 100vh;
	justify-content: flex-start;
	align-items: flex-start;
	z-index: 1;
}
.sidebarheader h2 {
	margin-left: 30px;
	color: whitesmoke;
	font-size: 20px;
	font-family: 'Paytone One', sans-serif;
	z-index: 1;
}
.sidebarheader h4 {
	margin-left: 95px;
	color: rgb(7, 158, 7);
	font-family: 'Lobster', cursive;
	font-size: 35px;
	z-index: 1;
}
.featuredsidebar {
	display: flex;
}
.featuredsidebar hr {
	width: 168px;
	color: whitesmoke;
	z-index: 1;
	background-color: white;
	margin-left: 15px;
	margin-top: 13px;
	border: solid transparent 0px;
	height: 3px;
}
.buttonsection {
	display: flex;
	flex-direction: column;
	z-index: 1;
	position: absolute;
	bottom: 30px;
}
.buttonsection .arrows {
	margin: 10px 0px;
	margin-left: 15px;
}
.buttonsection img {
	height: 50px;
	width: auto;
	margin-left: 15px;
}
.buttonsection button {
	background-color: transparent;
	border: transparent;
}
button:focus {outline: 0;}
.buttonsection button .buttoninactive {
	height: 10px;
	padding: 10px 0;
	width: auto;
	cursor: pointer;
}
.buttonsection button .buttonactive {
	height: 30px;
	padding: 5px 0;
	width: auto;
	cursor: pointer;
}
.bottomsection img {
	height: 150px;
	width: auto;
	margin-left: 40px;
	margin-bottom: 30px;
}
.bottomsection {
	display: flex;
	height: 100vh;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin: 0 auto;
	min-height: 700px;
	margin-top: 10px;
}
.footer {
	position: absolute;
	bottom: 15px;
	left: 48.5%;
	right: 51.5%;
	color: white;
	border-radius: 5px;
}
.footer img {
	height: 30px;
	width: auto;	
}
.fpbg {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.productimagesb {
	position: absolute;
	right: 75px;
	margin-top: 13px;
	z-index: 5;
	max-width: 150px;
	max-height: 120px;
	transition: ease-in-out .2s;
}
.productimagesb:hover {
	transform: scale(1.10);
}
.homelogo {
	-webkit-animation: rotation 8s infinite linear;
	height: 280px;
	width: auto;
	position: absolute;
	top: 15px;
	left: 15px;
}
@-webkit-keyframes rotation {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(359deg);
	}
  }

  .name{
	height: 200px;
	width: auto;
	position: absolute;
	top: 40px;
	left: 60px;
  }
.videoshown {
	display: initial;
}
.videohidden {
	display: none;
}

@media (max-width: 800px){
	.sidebar {
		width: 250px;
		right: 0;
	}
	.featuredsidebar hr {
		width: 115px;
	}
	.sidebarheader h4 {
        margin-left: 50px;
		margin-top: 5px;
	}
	.homelogo {
		height: 175px;
	}
	.name {
		height: 125px;
		top: 35px;
		left: 50px;
	}
	.productimagesb {
		right: 50px;
	}
}
@media (max-width: 500px) {
	.sidebar {
		display: none;
	}
}

