
.order-history-container {
    padding-top: 50px;
}

.order-history-container h1 {
    text-align: center;
    padding: 25px;
    font-size: 49px;
}

.order-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 801px;
    padding: 25px;
    margin: 0 auto;
    border: 1px solid gray;
    margin-bottom: 15px;
    box-shadow: 1px 2px 3px gray;
}

.product-container {
    display: flex;
    align-items: center;
    width: 800px;
}

.product-container img {
    max-width: 85px;
    max-height: 100px;
    padding: 5px 5px 5px 25px;
}

.history-product-info {
    font-size: 24px;
    padding-left: 25px;
}
.history-product-info button {
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    background-color: gold;
    cursor: pointer;
}

.history-action-buttons {
    display: flex;
    flex-direction: column;
    margin-left: -230px;
}

.history-action-buttons button {
    cursor: pointer;
    width: 180px;
    background-color: lightgray;
    font-size: 18px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 20px;
}






